xml/PO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="PO_t">
		<xsd:sequence>
			<xsd:element type="xsd:string" name="intitule"/>
			<xsd:element type="xsd:string" name="departement"/>
		</xsd:sequence>
		<xsd:attribute type="xsd:int" name="id" use="required"/>
	</xsd:complexType>
	
</xsd:schema>
